<div class="col-md-12">

    <div class="col-md-12 text-right">
        <div class="btn-group btn-group-sm">
             <a href="#users/view/{{user_detail.id}}" class="btn btn-primary">Back</a>
        </div>
    </div>


    <div class="col-md-12 text-left">
        <h4 class="text-primary"><b>Reset User Password</b></h4>
    </div>

    <div style="width: 50%; margin-left: auto;margin-right: auto;">
        <table class="table table-hover table-condensed table-bordered  table-responsive">
            <tr>
                <td style="width: 50%">User Name:</td>
                <td>{{user_detail.userName}}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>{{user_detail.firstName}}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{user_detail.lastName}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{user_detail.userStatus.value}}</td>
            </tr>

            <tr>
                <td>Role</td>
                <td>{{user_detail.userType.value}}</td>
            </tr>

            <tr>
                <td>Hotel</td>
                <td>{{user_detail.hotel.name}}</td>
            </tr>

            <tr>
                <td>Department</td>
                <td>
                    <div ng-repeat="dept in user_detail.departments">
                        {{dept.name}}
                    </div>
                </td>
            </tr>


            <tr>
                <td>TouchPoint</td>
                <td>
                    <div ng-repeat="touchpoint in user_detail.touchPoints">
                        {{touchpoint.name}}
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-12 text-center">
        <b style="color: RED;">Are you sure to reset Password? </b>
    </div>

    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary" ng-click="reset()">Reset</button>
    </div>
</div>
