.table {
    width:90%;
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
}
.td {
    color:#678197;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.2em 1em;
    text-align:center;
}
.th {
    color:blue;
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.2em 1em;
    text-align:center;
}