<html ng-app = "password_app">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-cookies.js"></script>
    <script src="lib/jquery-1.11.0.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/password-app.js"></script>
</head>
<body>
<div ng-controller="password_app_controller" style="width: 20%; margin-left: auto;margin-right: auto;margin-top: 10%;">
    <form name="change_password_form">
        <fieldset>
            <legend>Change Password</legend>
            <div class="form-group">
                <input type="password" class="form-control" id="inputId" placeholder="password" ng-model="password"  required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" ng-model="user_detail.password"
                       required>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="validate(change_password_form)">Change</button>
            <div class="col-md-12 text-center">
                <b style="color: RED;">{{error_message}}</b>
            </div>
        </fieldset>
    </form>


</div>
</body>
</html>

