<html ng-app = "password_app">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-cookies.js"></script>
    <script src="lib/jquery-1.11.0.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/password-app.js"></script>
</head>
<body ng-controller="password_app_controller">
<form name="change_password_form">
<div class="panel panel-primary">
    <div class="panel-heading">
         <h1 class="panel-title">Change Password</h1>
    </div>

    <div class="panel-body" style="width:50%;text-align: center;margin-left: 30%;">
        <table>
            <tr>
                <td> New password * </td>
                <td><input type="password" class="form-control" ng-model="password" style="margin-left: 10px;" required></td>
            </tr>
            <tr>
                <td> Confirm password * </td>
                <td><input type="password" class="form-control" ng-model="user_detail.password" style="margin-left: 10px;" required></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-primary" value="Change" ng-click="validate(change_password_form)" style="margin-top: 20px;text-align: center;"/>
    </div>
    <div class="col-md-12 text-center">
        <b style="color: RED;">{{error_message}}</b>
    </div>

    <div class="panel-footer">
        <ul class="pager" style="margin: 0px;">
         </ul>

    </div>
</div>
    </form>
</body>
</html>