<html ng-app="login_app">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/angular-cookies.js"></script>
    <script src="lib/jquery-1.11.0.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="js/login-app.js"></script>
</head>
<body>
<div ng-controller="login_app_controller" style="width: 20%; margin-left: auto;margin-right: auto;margin-top: 10%;">

    <form name="loginform" ng-show="!reset_mode">
        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                <input type="text" class="form-control" id="inputId" placeholder="User Name" ng-model="user_name"
                       required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                       ng-model="password"
                       required>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="login(loginform)">Login
            </button>
            <h4 style="color:#ff6464;text-align: center;flex-grow:inherit">{{error}}</h4>
        </fieldset>
    </form>

    <form name="passwordResetform" ng-show="reset_mode">
        <fieldset>
            <legend>Reset Password</legend>
            <div class="form-group">
                <input type="password" class="form-control"  ng-model="new_password" required=""/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control"  ng-model="confirm_password" required=""/>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="resetPassword(passwordResetform,new_password, confirm_password)">Reset Password
            </button>
            <h4 style="color:#ff6464;text-align: center;flex-grow:inherit">{{reset_password_error}}</h4>
        </fieldset>
    </form>


</div>
</body>
</html>

