<div>
    <fieldset>
        <legend>Login Here</legend>
        <table>
            <tr>
                <td>User Name :</td>
                <td><input name="input" ng-model="user_name" required ></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input name="password" ng-model="password" value="secret"></td>
            </tr>
        </table>
        <button ng-click="doLogin(user_name, password)">Login</button>
        {{error_message}}
    </fieldset>
</div>
