<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title">Add Touch Points</h1>
    </div>

    <div class="panel-body" style="margin-left: 30%">
        <div style="float: left;margin-left: 30px;">
            <select size="15" style="width: 200px; "
                    ng-model="selected_not_assigned_touchpoint"
                    ng-options="touchpoint as touchpoint.name for touchpoint in touchpoint_list_not_assigned">
                <option value=""><b>Touch Point To Assign</b></option>
            </select>
        </div>

        <div style="float: left;margin-left: 30px;margin-top: 10%">
            <input type="button" class="btn btn-primary" value="Add >>" ng-click="pushDataFromLeft()"/>
            <br/>
            <input type="button"  class="btn btn-primary" value="<< Remove" ng-click="pushDataFromRight()" style="margin-top: 10px;"/>
        </div>

        <div style="float: left;margin-left: 30px;">
            <select size="15" style="width:200px;"
                    ng-model="selected_assigned_touchpoint"
                    ng-options="obj as obj.name for obj in touchpoint_list_assigned">
                <option value=""><b>TouchPoint Assigned</b></option>
            </select>
        </div>
    </div>

    <div class="panel-footer">
        <input type="button" value="Next" ng-click="addTouchPoints()">
    </div>
</div>


