<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title">User Registration</h1>
    </div>

    <div class="panel-body">
        <div style="width: 50%; margin-left: auto;margin-right: auto;">
            <table>
                <tr>
                    <td> User Name :&nbsp; </td>
                    <td><input type="text" id="username" class="form-control" ng-model="user.userName" required></td>
                </tr>
                <tr>
                    <td> First Name :&nbsp; </td>
                    <td><input type="text" id="userfname" class="form-control" ng-model="user.firstName" required></td>
                </tr>
                <tr>
                    <td> Last Name : &nbsp; </td>
                    <td><input type="text" id="userlname" class="form-control" ng-model="user.lastName" required></td>
                </tr>
                <tr>
                    <td>Status : &nbsp; </td>
                    <td>
                    <select ng-model="user.userStatus.id"
                            ng-options="obj.id as obj.status for obj in user_status_list">
                    </select>
                    </td>
                </tr>

                <tr>
                    <td>Type : &nbsp; </td>
                    <td>
                        <select ng-model="user.userType.id"
                                ng-options="obj.id as obj.type for obj in user_type_list">
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Hotel : &nbsp; </td>
                    <td>
                        <select ng-model="user.hotel.id"
                                ng-options="obj.id as obj.name for obj in hotel_list">
                        </select>
                    </td>
                </tr>



            </table>
        </div>
    </div>

    <div class="panel-footer">
        <button type="button" class="btn btn-success" ng-click="create()">Save</button>
    </div>

</div>
