<div class="panel panel-success">

    <div class="panel-heading">
        <a ng-href="#users/delete/{{user.id}}" style="float: right;margin-left: 10px;">Delete</a>
        <a ng-href="#users/create" style="float: right">New User</a>


        <h1 class="panel-title">Update User Details</h1>
    </div>

    <div class="panel-body">
        <div style="width: 50%; margin-left: auto;margin-right: auto;">
            <table class="table table-responsive">
                <tr>
                    <td>User Name</td>
                    <td class="text-left"><input name="input" ng-model="user.userName" style="width: 100%;" disabled/></td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td class="text-left"><input name="fname" ng-model="user.firstName" style="width: 100%;"/></td>
                </tr>

                <tr>
                    <td>Last Name</td>
                    <td class="text-left"><input name="lname" ng-model="user.lastName" style="width: 100%;"/></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <ul class="pager " style="margin: 0px;">
            <li><a href="#users/list" style="float: left;">Back</a></li>
            <button type="button" class="btn btn-success" ng-click="update()" style="float: right;margin-left: 10px;">Update</button>
            <button type="button" class="btn btn-success" ng-click="cancel()" style="float: right;">Cancel</button>
        </ul>
    </div>

</div>


