<!DOCTYPE html>
<html ng-app>
<head>
    <script src="../js/angular.min.js"></script>
    <script src="../js/application.js"></script>
</head>
<body>
<div ng-controller="applicationController">
    <form>

        <table>
            <tr>
                <td>User Id *</td><td><input type="text" size="30" placeholder="Enter User Id" ng-model="userId"></td>
            </tr>
            <tr>
                <td>User First Name *</td><td><input type="text" size="30" placeholder=" Enter UserFirst Name" ng-model="userFName"></td>
            </tr>
            <tr>
                <td>User Last Name *</td><td><input type="text" size="30" placeholder="Enter UserLast Name" ng-model="userLName"></td>
            </tr>
            <tr>
                <td>User Type *</td>
                <td><select ng-model="color" ng-options="c.name for c in colors"></select></td>
            </tr>
            <tr>
                <td>Hotel Department *</td>
                <td><select ng-model="color" ng-options="c.name for c in colors"></select></td>
            </tr>
            <tr>
                <td>Touch Points *</td>
                <td><select ng-model="color" ng-options="c.name for c in colors"></select></td>
            </tr>

        </table>
         <button ng-click="addNewUser()">Add User</button>

    </form>

</div>
</body>
</html>