<html ng-app="sampleApp">
<head>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/app.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/table.css">
</head>
<body>
<div ng-controller="applicationController">

     <a ng-click="showAll()">show all users</a>
    <a ng-click="doLogin()">login test</a>

    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr ng-repeat="eachuser in userList">
            <td>{{eachuser.id}}</td>
            <td>{{eachuser.firstName}}</td>
            <td>{{eachuser.lastName}}</td>
        </tr>
    </table>
</div>
 </body>
</html>